// Color palette

$white: #fff;

$black: #000;

$blue: #00243f;
$blue-2: #264b77;
$blue-3: #3c5b74;

$gray: #a3acb1;

$yellow: #b67929;


$font-size-small: 12px;
$font-size-base: 14px;
$font-size-medium: 16px;
$font-size-large: 18px;